/* GENERAL */

* {
    box-sizing: border-box;
}
:root {
    --backroung-color: #F2F2F2;
    --main-color:#0065FC;
    --secondary-color: #DEEBFF;
    --secondary-colorb: #d9d9d9;
  }

body {
    font-family: 'Raleway';
    font-size: 1vw;
}
header, section {
    padding: 0 2.0835%;
    margin: 1.7365%;
}
h1 {
    font-size: 150%;
    height: 100%;
    width: 100%;
}
h2 {
    font-size: 160%;
    padding: 1vw 0;
}
h3 {
    font-size: 120%;
}
img {
    height: 100%;
    width: 100%;
}
li {
    list-style: none;
}
a {
    color: #202020;
    text-decoration: none;
}
i.round {
    background: var(--secondary-color);
    border-radius: 50%;
    color: var(--main-color);
    padding: 1.2vw;
    z-index: 1;
    font-size: larger;
}
i.small-round {
    border: 1px solid var(--secondary-colorb);
    border-radius: 50%;
    color: var(--main-color);
    padding: 0.5% 0.8%;
    font-size: 80%;
}
i.square-round {
    padding: 1.2%;
    border: 2px solid var(--secondary-colorb);
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    background-color: var(--secondary-colorb);
}
#main-content { 
    padding-top: 1.1%;
}
/* HEADER */

#header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header-description {
    margin: 2% auto 1% auto;
}
#logo img {
    object-fit: contain;
    width: 6vw;
}

/*navbar */

nav ul li {
    display: inline;
    padding-top: 3.542vw; 
}

nav ul li a {
    padding: 25px 15px;
}
nav ul .active-menu {
    border-top: 2px solid var(--main-color);
}
nav ul .active-menu a {
    color: var(--main-color);
}



/* SECTION */

/*search bar*/

#search-form {
    padding: 0.6vw;
    display: flex;
    flex-wrap: nowrap;
}
#search-form input {
    border: none;
    font-weight: bold;
    padding: 1.2%;
    border: 2px solid var(--secondary-colorb);
}
#search-form .round-blue {
    display: inherit;
}
#search-form .round-blue input, 
#search-form .round-blue i {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
    padding: 12%;
}
#search-form .round-blue input {
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;       
}
#search-form .round-blue i {
    padding: 2vw;
    border-radius: 2vw;
    display: none;
    margin-left: -2vw;
}
#search .info {
    margin: 1% 0;
    display: flex;
    align-items: baseline;
}
#search .info i {
    display: block;
    margin-right: 2vw;
}

/*Filters*/



#filters {
    display: flex;
    flex-flow: row wrap;
    padding: 1.5% 0%;
    align-items: center;
    font-weight: bolder;
}
#filters .tag-menu {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
}
#filters .btn {
    font-weight: bolder;
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
    border: 2px solid var(--secondary-colorb);
    border-left: none;
    margin-left: -2vw;
    padding-left: 3vw;
    padding-right: 1vw;
    background: none;
}
#filters i {
    flex: none;
}
#filters span {
    padding-left: 1%;
    margin-right: 2%;
}
#filters .tag-filter {
    display: flex;
    flex-wrap: nowrap;
    margin: 1%;
}


/* Cards */

    /* General */
    .card {
        border-radius: 1vw;
        box-shadow: 3px 4px 35px 2px #c4c4c4;
        display: block;
        padding: 0.3vw;
    }

    /* header */
    .card-header { 
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: auto 6%;
    }
    .card-header i {
        margin: auto 0;
        padding: 1%;
        font-size: 160%;
    }

    /* Body */
    .card-body {
        display: block;
        padding: 0 5%;
        padding-bottom: 3%;
        line-height: 1;
    }    
    .card-image {
        position: relative;
        flex: none;
    }
    
    .card-image .image-ratio {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
    }
    .card .card-image.ratio1 {
        padding-bottom: calc(100% * 15/ 37.6);
    }
    .card .card-image.ratio2 {
        padding-bottom: calc(100% * 115 / 238);
    }
    .card-stars {
        font-size: 70%;
    }
    .card-stars i {
        color: var(--secondary-colorb);
    }
    .card-stars i.active {
        color: var(--main-color);
    }
    .card-footer {
        margin: auto;
        width: 100%;
    }
    
    /* Type Row */
    .card.card-row a {
        display: flex;
        flex-wrap: nowrap;
    }
    .card.card-row .card-body {
        position: relative;
    }
    .card.card-row .card-image {
        width: 37.5%;
    }
    .card.card-row img {
        border-top-left-radius: 1vw;
        border-bottom-left-radius: 1vw;
    }
    .card.card-row .card-stars {
        position: absolute;
        bottom: 8.095%;
    }     
    
    /* Type Column */
    .card.card-column .card-image {
        width: 100%;
    }
    .card.card-column img {
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
    }



/* Results containers */

.card-container {
    display: flex;
}
#results-containers {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
#populars, #logements {
    display: flex;
    flex-direction: column;
    margin: 2.2167%;
    background: #F2F2F2;
    border-radius: 1vw;
    padding: 1%;
}


/* Plus populaires*/

#populars {
    width: 35.3185%;
    margin-right: 0;
}
#populars .card-container {
    flex-direction: column; 
    align-items: center;
}
#populars .card {
    width: 23.9585vw;
    margin-bottom: 8.095%;
}
#populars .card-image {
    width: 37.8%;
}

/* Hebergements */

#logements {
    margin-right: 1vw;
    margin-left: 0;
}
#logements h2 {
    margin-left: 3%;
}
#logements .card-container {
    flex-flow: row wrap;
    justify-content: space-around;
}
#logements .card {
    margin-bottom: 2.5%;;
    width: 29.5%;
}
#logements .card-body {
    line-height: 0.5;
}
#logements .card-body h2 {
    line-height: 1;
    margin: 15px 0 0 0;
}
#logements .card-footer a {
    margin-left: 3%;
    font-weight: bolder;
    font-size: 120%;
}

/* Activites */


#activities {
    max-width: 100%;
}
#activities h2 {
    padding: 1%;
}
#activities .card-container {
    flex-flow: column wrap;
    justify-content: space-between;
    height: 30.764vw; 
}
#activities .activity-card {
    display: flex;
    flex-flow: column nowrap;
    width: 23%;
    height: 43%;
    margin: 1%;
    border-radius: 1.0417vw;
    box-shadow: 3px 4px 35px 2px #c4c4c4;
}
#activities .activity-card:nth-child(3n+1)
{
    height: 100%;
}
#activities .activity-card div {
    height: 100%;
    position: relative;
}
#activities img {
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 1.0417vw;
    border-top-right-radius: 1.0417vw;
    min-height: 0;
    flex: 1 1 0;
}
#activities .activity-card p  {
    margin: 6%;
    font-weight: bolder;
}


/* FOOTER */
footer {
    width: 100%;
    background: #F2F2F2;
    padding: 3%;
}
.footer-content {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-left: 2%;

}
.footer-content div h2 {
    font-weight: bolder;
}
.footer-content ul {
    padding-left: 0;
}
.footer-content div li {
    line-height: 2;
}


@media (max-width: 992px) {

    /* GENERAL */

    section {
        margin: auto;
        padding: 0;
    }
    .card-footer {
        margin: 3% auto;
        text-align: right;
    }
    .card-footer a {
        margin: 3%;
    }

    /* SECTION */
    #search {
        margin: 3%;
    }
    
    #results-containers {
        flex-direction: column;
    }
    #populars, #logements {
        margin:auto;
        width: 100%;
        padding: 2% 3% 5% 3%;
        border-radius: 0;
    }

    /* Plus populaires */
    #populars .card-container {
        flex-direction: row;
    }
    #populars .card {
        width: 30%;
        margin: auto;
    }

    /* Hebergements */
    #logements {
        background: none;
    }
    
    /* Activites */
    #activities {
    margin: 0 3.5% 5% 3.5%;
    }
    #activities .card-container {
        max-width: 100%;
        flex-direction: row;
        height: 40vw;
    }
    #activities .activity-card {
        width: 30%;
    }
    #activities .activity-card:nth-child(3n+1){
        height: 43%;
    }
   
}


@media (max-width: 768px) {

    /* GENERAL */
    body {
        font-size: 4vw;
    }
    h2 {
        font-size: 150%;
    }
    i.round {
        padding: 4vw;
    }
    i.small-round {
        padding: 1% 2%;
    }
    i.square-round {
        padding: 4vw;
        border-top-left-radius: 4vw;
        border-bottom-left-radius: 4vw;
    }
    /* HEADER */
    header {
        margin: 0;
        padding: 0;
    }    
    #header-description {
        margin: 10% 5%;
    }
    #header-top {
    display: block;
    text-align: center;
    }
    #logo {
        margin: 5% 0;
    }
    #logo img {
        width: 25.5%;
    }

    /* navbar */
    nav ul {
        padding: 0;
        display: flex;
    }
    nav ul li {
        padding: initial;
        width: 50%;
        padding: 2vw;
        border-bottom: 3px solid var(--secondary-colorb);      
    }
    nav ul .active-menu {
        border-color: var(--main-color);
        border-top: none;
    }

    /* SECTION */

    /* Search */
    #search {
        margin-bottom: 8%;
    }
    #search-form {
        justify-content: center;
        margin-bottom: 3%;
    }
    #search-form input {
        padding: 4vw;
    }
    #search-form .round-blue input {
        display: none;
    }
    #search-form .round-blue i {
        display: block;
        padding: 4vw;
        border-radius: 3vw;
    }
 
    /* filters */
    #filters span,
    #filters .tag-menu {
        padding: 3%;
    }
    #filters .btn {
        border-top-right-radius: 6vw;
        border-bottom-right-radius: 6vw;
        padding-right: 4vw;
        margin-left: -6vw;
        padding-left: 9vw;
    }
    .tag-filter {
        margin: 2vw;
    }

    /* containers */
    .card-header {
        margin: auto 0%;
    }
    .card-header i {
        font-size: 150%;
    }
    .card.card-row img {
        border-top-left-radius: 5vw;
        border-bottom-left-radius: 5vw;
    }
    .card-footer {
        text-align: initial;
    }
    .card,
    #activities .activity-card,
    .activity-card div {
        border-radius: 5vw;
    }
    .card .card-image.ratio2,
    #activities .activity-card div {
        padding-bottom: calc(100% * 15 / 37.6);
    }

    .card.card-column img,
    #activities img {
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
    }
  
    #populars,
    #logements, #activities {
        padding: 5%;
        padding-bottom: 10%;
    }
    #populars .card-container,
    #herbergements .card-container,
    #activities .card-container,
    .footer-content {
        flex-direction: column;
        height: auto;
    }
    #populars .card,
    #logements .card,
    #activities .activity-card,
    #activities .activity-card:nth-child(3n+1) {
        width: 100%;
        margin: 2% 0 3% 0;
    }
    #activities {
        margin: 0;
    }
    .activity-card p {
        padding: 3%;
    }
    #logements .card-body {
        line-height: initial;
    }
    .footer-content {
        margin: 4%;
    }
    .footer-content div li {
        font-size: 80%;
        line-height: 2;
    }

} 