* {
    box-sizing: border-box;
}
:root {
    --backroung-color: #F2F2F2;
    --main-color:#0065FC;
    --secondary-color: #DEEBFF;
    --secondary-colorb: #d9d9d9;
  }

body {
    font-family: 'Raleway';
    max-width: 2880px;
    font-size: 0.92vw; /* 30.400px sur 2880px */
}
section {
    margin-bottom: 8%;
}
a {
    color: #202020;
    text-decoration: none;
}
h1 {
    font-size: 1.35vw; /*44px sur 2880px */
}
img {
    height: 100%;
    width: 100%;
}
li {
    list-style: none;
}
#mainContent { 
    max-width: 2880px;
    padding: 2.0835%;
    margin: 1.7365%;
}


/* header */

#headerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo img {
    object-fit: contain;
    width: 6vw;
}
#header-description {
    margin: 2% auto 1% auto;
}
nav ul li {
    display: inline;
}
nav ul li a {
    padding: 25px 15px;
    padding-top: 3.542vw; /* 102.10 px sur 2880px */
}
nav ul li a.activeMenu {
    border-top: 4px solid var(--main-color);
}

/*search bar*/

#searchForm {
    padding: 0.6vw;
}
#searchForm i {
    padding: 15px;
}
#searchForm input {
    border: none;
    font-weight: bold;
    padding: 1.2vw;
}
input.rounded-blue {
    background: var(--main-color);
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
    color: white;
}



/* SECTION */

/*Filters*/

i.round {
    background: var(--secondary-color);
    border-radius: 50%;
    color: var(--main-color);
    padding: 1vw;
    z-index: 1;
    font-size: 1.2vw;
}
i.small-round {
    border: 1px solid var(--secondary-colorb);
    border-radius: 50%;
    color: var(--main-color);
    padding: 5px 10px;
}
#filters {
    display: flex;
    padding: 10px 0px 20px 0px;
    align-items: center;
    font-weight: bolder;
}
#filters .btn {
    font-weight: bolder;
    border-radius: 2vw;
    border: 2px solid var(--secondary-colorb);
    margin-left: -3vw;
    padding-left: 4vw;
    padding-right: 1vw;
    z-index: 0;
}
#filter data {
    padding-left: 15px;
}
#filters div {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    margin-right: 1.5vh;
}

#filters span {
    margin-right: 2vw;
}
#search .info {
 margin: 1vw 0;
}

/* Results containers */

.card-container {
    display: flex;
}
#results-containers {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
#results-containers>div {
    display: flex;
    flex-direction: column;
    padding: 2.2167%;
}
#plus-populaires {
    width: 35.3185%;
}
#plus-populaires .card-container {
    flex-direction: column; 
}
#plus-populaires>div:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#plus-populaires div:first-child h2 {
    /*padding: 3.84% 0;*/
    padding: 4.954% 0;
    margin: 5.653% 0;
}
#plus-populaires>div:first-child i {
    margin: auto 0;
}
#plus-populaires .card {
    width: 23.9585vw;
    /*width: 100%;*/
    margin-bottom: 8.095%;
}
#plus-populaires .card a {
    display: flex;
    flex-wrap: nowrap;
}
#plus-populaires .card-image {
    max-height: 268px;
    width: 8.75vw;
    height: calc(8.75vw * 1.0634920635); /* le longueur multiplié par le ratio original (268 hauter /252 longueur)*/
    flex: none;
}
#plus-populaires .card-image img {
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
#plus-populaires .card-body {
    position: relative;
}
#plus-populaires .card-stars {
    position: absolute;
    bottom: 8.095%;
}

div#hebergements {
    margin-right: 2%;
    padding: 2vw;
    padding-left: 0;
    justify-content: space-between;
    
}

#hebergements h2 {
    padding: 1.84%;
    font-size: 1.6vw;
    margin-left: 1%;
    
}

#hebergements .card-container {
    flex-flow: row wrap;
    justify-content: space-around;
}
#hebergements .card {
    /*width: 28.861%; width: 28.155%;*/
    margin-bottom: 3.477%;
    width: 28.3715%;
}
#hebergements .card-image {
    max-height: 230px;
    /*height: 7.9865vw;*/
    height: calc(16.3195vw * 0.489361702); /* dividir alto por ancho y multiplicar para mantener relación de aspecto*/
    width: 100%;
}
#hebergements .card-image img {
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}
#hebergements .card-body {
    line-height: 0.5vw;
}
#hebergements .card-body h2 {
    line-height: 1;
    margin: 15px0 0 0;
}
#hebergements .card-footer a {
    margin-left: 3%;
    font-weight: bolder;
    font-size: 1.2vw;
}

/* Cards */

.card {
    border-radius: 1vw;
    -webkit-box-shadow: 3px 4px 35px 2px #c4c4c4; 
    box-shadow: 3px 4px 35px 2px #c4c4c4;
    display: block;
    padding: 0.3vw;
}
.card-body {
    display: block;
    padding: 0 5%;
    padding-bottom: 3%;
    line-height: 1;
}
.card-title h3 {
    font-size: 1.2vw;
    margin-bottom: 0;
}
.card-image img {
    object-fit: cover;
}
.card-description {
    font-size: 1vw;
}
.card-stars {
    font-size: 0.7vw;
}
.card-stars i {
    color: var(--secondary-colorb);
}
.card-stars i.active {
    color: var(--main-color);
}

#activites {
    max-width: 100%;
    margin-bottom: 5%;
}

#activites .card-container {
    flex-flow: column wrap;
    justify-content: space-between;
    height: 30.764vw; /*886px en 2880px*/
}
#activites div.activiteCard {
    width: 25%;
    height: 40%;
    padding: 1%;
    margin: 0;
    border-radius:1.0417vw;
}


#activites div.activiteCard div  {
    margin: 1vw;
    font-weight: bolder;
}
#activites div.activiteCard:nth-child(3n+1) {
    height: 100%;
}
#activites img {
    object-fit: cover;
    border-top-left-radius: 1.0417vw;
    border-top-right-radius: 1.0417vw;
}

footer {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 3% 0;
}


footer div h2 {
    font-weight: bolder;
}

footer ul {
    padding-left: 0;
}

footer div li {
    font-size: 1vw;
    line-height: 2vw;
    padding-left: 0;
}